body{
    margin: 0px;
}

.navbar {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3f3d3d;
}

.navbar li {
    float: left;
}

.navbar a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.name {
    color: white;
    font-size: 1.5em;
    padding: 14px 16px;
}

.navbar a:hover, .active {
    background-color: #000000;
}