body {
    margin: 0;
    font-family: "Copperplate", fantasy;
}

.navbar {
    font-family: "Copperplate", fantasy;
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    background-color: white;
    top: 0;
    margin: 0;
}

.navbar h1 {
    color:black;
    margin-top: 20px;
    margin-left: 100px;
    font-size: 40px;
    padding: 20px;
}

.navbar a{
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    opacity: 0.6;
    transition: 0.3s;
}

.navTabs{
    margin-top:-95px;
    margin-right: 100px;
}

.navbar a:hover {
    opacity: 1;
}

.main {
    margin-left: 20%;
    margin-top: 7%;
}

h1 {
    font-size: 50px;
    padding-top: 5%;
    margin-left: 35%;
}

h2 {
    color: black;
    opacity: .7;
    padding-left: 36%;
    font-size: 25px;
}

h3 {
    font-size: 18px;
    color: gray;
    padding-left: 36%;
    width: 40%;
    font-family: 'Courier New', Courier, monospace;
}

button {
    margin-top: 2%;
    margin-right: 3%;
    margin-left: 3%;
    padding: 20px;
    font-family: "Copperplate", fantasy;
    border-radius: 25px;
    border-width: 1px;
    border-color: gray;
    background-color: white;
}

button:hover {
    transform: scale(1.01);
}

.description {
    float: right;
    width: 50%;
}

.me {
    margin-right: 20px;
    float: left;
    width: 50%;
    width: 400px;
    height: auto; 
    object-fit: cover;
    border-radius: 100%;
}

.footer {
    margin-top: 10%;
}

.footer h1 {
    font-size: 20px;
    margin: 0;
    width: 33.3%;
    margin-left: 6%;
    margin-right: 3%;
    display: inline;
}