body {
    margin: 0;
    font-family: "Copperplate", fantasy;
    align-content: center;
}

.navbar {
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    background-color: white;
    top: 0
}

.navbar h1 {
    color:black;
    margin-top: 1rem;
    margin-left: 6.5rem;
    font-size: 2rem;
    padding: 1rem;
}

.navbar a{
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    opacity: 0.6;
    transition: 0.3s;
}

.navTabs{
    margin-top:-5rem;
    margin-right: 6.5rem;
}

.navbar a:hover {
    opacity: 1;
}

.main {
    margin-top: 7%;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    margin-top: -1rem;
    margin-bottom: 2rem;
}

.buttons {
    display: flex;
}

button {
    margin-top: 2%;
    margin-right: 3%;
    margin-left: 3%;
    padding: 20px;
    font-family: "Copperplate", fantasy;
    border-radius: 25px;
    border-width: 1px;
    border-color: gray;
    background-color: white;
}

button:hover {
    transform: scale(1.02);
}

.me {
    margin-right: 20px;
    float: left;
    width: 50%;
    width: 400px;
    height: 400px; 
    object-fit: cover;
    border-radius: 100%;
}

.footer {
    margin-top: 8%;
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
}

.footer h1 {
    font-size: 1.25rem;
}

.vl {
    border-left: 1px solid gray;
    height: 3rem;
}