body{
    margin: 0px;
}

.navbar {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3f3d3d;
}

.navbar li {
    float: left;
}

.navbar a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.name {
    color: white;
    font-size: 1.5em;
    padding: 14px 16px;
}

.navbar a:hover, .active {
    background-color: #000000;
}

.my_img {
    border-radius: 50%;
    display: block;
    width: 30%;
    max-width: 100%;
    margin: auto;
}

.intro {
    display: flex;
    justify-content: start; /* or 'flex-start' */
    align-items: center;
    gap: 0rem;
    padding-top: 10%;
    padding-bottom: 10%;
}

.my_info {
    margin-left: 0;
    margin-right: auto;
}

.projects {
    border: 2px solid black;
    margin: 2%;
}

.projects ul{
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}

.projects li{
    display: block;
    overflow: hidden;
    padding: 20px;
    margin: 10px;
    border: 2px solid black;
}

.projects h1 {
    text-align: center;
}

.projects h2 {
    font-size: large;
}

.see_more {
    display: block;
    text-align: center;
    padding-bottom: 2%;
}

.see_more a {
    color: black;
    text-decoration: none;
    border:  2px solid black;
    background-color: white;
    padding: 1%;
}

.see_more a:hover{
    background-color: #7a7676;
}