body {
    margin: 0;
}

.navbar {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3f3d3d;
}

.navbar li {
    float: left;
}

.navbar a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover, .active {
    background-color: #000000;
}

.main ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}

.main li {
    display: block;
    overflow: hidden;
    padding: 20px;
    margin: 10px;
    border: 2px solid black;
}

.main h1 {
    text-align: center;
    padding: 2%;
}

.main h2 {
    font-size: large;
}