body {
    margin: 0;
}

.navbar {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3f3d3d;
}

.navbar li {
    float: left;
}

.navbar a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.name {
    color: white;
    font-size: 1.5em;
    padding: 14px 16px;
}

.navbar a:hover, .active {
    background-color: #000000;
}

.main h1{
    padding: 1rem;
    padding-top: 3rem;
    padding-left: 13%;
    font-size: 50px;
    margin-bottom: 0px;
}

.main h2{
    font-size: 1.25rem;
}

.main h3 {
    font-size: 1.05rem;
}

.main h4 {
    font-size: 1rem;
}

.main ul {
    padding-bottom: 2.5%;
    padding-top: 1%;
    margin-bottom: 0px;
    margin-top:0px;
    padding-right: 10%;
    padding-left: 10%;
}

.main li {
    display: block;
    overflow: hidden;
    padding: 20px;
    margin: 10px;
    border: 2px solid gray;
    background-color: white;
    border-radius: 20px;
    transition: 0.3s;
}

.main li:hover {
    transform: scale(1.01);
}

.project {
    display: flex;
}

.title {
    width: 17%;
    margin-right: 1%;
}

.about {
    width: 15%;
}

.description {
    width: 70%;
    float: right;
}
