body {
    margin: 0;
    font-family: "Copperplate", fantasy;
}

.navbar {
    font-family: "Copperplate", fantasy;
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    background-color: white;
    top: 0;
    margin: 0;
}

.navbar h1 {
    color:black;
    margin-top: 20px;
    margin-left: 100px;
    font-size: 40px;
    padding: 20px;
}

.navbar a{
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    opacity: 0.6;
    transition: 0.3s;
}

.navTabs{
    margin-top:-95px;
    margin-right: 100px;
}

.navbar a:hover {
    opacity: 1;
}

.mainProjects h1{
    padding: 20px;
    padding-left: 190px;
    font-size: 50px;
    margin-bottom: 0px;
}

.mainProjects ul {
    padding-bottom: 2.5%;
    padding-top: 1%;
    margin-bottom: 0px;
    margin-top:0px;
    padding-right: 180px;
    padding-left: 140px;
}

.mainProjects li {
    font-family: 'Courier New', Courier, monospace;
    display: block;
    overflow: hidden;
    padding: 20px;
    margin: 10px;
    border: 2px solid gray;
    background-color: white;
    border-radius: 20px;
    transition: 0.3s;
}

.mainProjects h2{
    font-size: 20px;
}

.mainProjects li:hover {
    transform: scale(1.01);
}
